<section class="doctors-dashboard bg-color-3">
    <div class="left-panel">
        <div class="profile-box" *ngIf="!isProfessional && !isAdmin">
            <div class="upper-box" >
                <figure class="profile-image">
                    <img [src]="authService.getImage()" alt="Profile Image" />
                </figure>
                <div class="title-box centred">
                    <div class="inner">
                        <h3> {{ global.professionalInfo?.name }} {{ global.professionalInfo?.lastname }}</h3>
                        <span>Genero: {{ global.professionalInfo?.gender  }}</span>
                        <p>{{ global.professionalInfo?.languages && hasSelectedItems(global.professionalInfo?.languages) ? 'Idiomas: ' + getSelectedItems(global.professionalInfo?.languages).join(', ') : 'No especificado' }}</p>
                        <p>Bienvenido(a) a tu panel de control</p>
                    </div>
                </div>
            </div>
            
            <div class="profile-info" >
                <ul class="list clearfix">
                   
                    <li><a href="dashboard" style="cursor: pointer;"><i
                                class="fas fa-home"></i>Cuenta</a></li>
                    <li><a (click)="global.activeRoute = 'profile'" style="cursor: pointer;"><i
                                class="fas fa-user"></i>Perfil</a></li>
                    <li><a style="cursor: pointer;"><i class="fas fa-unlock-alt"></i>Cambiar contraseña</a></li>
                    <li><a (click)="global.activeRoute = 'reviews'" style="cursor: pointer;"><i class="fas fa-comment"></i>Comentarios y Calificaciones</a></li>
                    <li><a (click)="global.activeRoute = 'planning'" style="cursor: pointer;"><i
                        class="fas fa-calendar"></i>Suscripción</a></li>
                    <li>
                        <div class="btn-box" *ngIf="authService.isLogin()">
                            <a (click)="confirmLogout()" style="cursor: pointer;">
                                <i class="fa fa-sign-out"></i>Cerrar Sesión
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="profile-box" *ngIf="isAdmin">
            <div class="upper-box">
                <figure class="profile-image"><img src="assets/images/team/avatar.png" alt="" style="width: 50%;
                    padding: 10px;
                    margin: 10px;
                "></figure>
                <div class="title-box centred">
                    <div class="inner">
                        <h3>Administrador</h3>
                        <p>Red Psicólogos Chile</p>
                    </div>
                </div>
            </div>
            <div class="profile-info" >
                <ul class="list clearfix">
                    <li><a (click)="global.setMenuOption('settings')" [class.current]="global.menuSelected === 'settings'" style="cursor: pointer;"><i class="fas fa-cog"></i>Ajustes</a></li>
                    <li><a (click)="global.setMenuOption('dashboard')" [class.current]="global.menuSelected === 'dashboard'" style="cursor: pointer;"><i class="fas fa-users"></i>Especialistas</a></li>
                    <li><a (click)="global.setMenuOption('reviews')" [class.current]="global.menuSelected === 'reviews'" style="cursor: pointer;"><i class="fas fa-star"></i>Calificaciones</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="right-panel">
        <div class="content-container" *ngIf="!isProfessional && !isAdmin">
            <div class="outer-container">
                <div class="review-list">
                    <div class="title-box clearfix">
                        <div class="text pull-left"><h3>Comentarios y Calificaciones</h3></div>
                        <div class="select-box pull-right">
                           
                        </div>
                    </div>
                    <div class="comment-inner">
                        <div *ngFor="let rating of filteredRatings" class="single-comment-box">

                            <div class="comment">
                                <figure class="comment-thumb"><img src="assets/images/team/avatar.png" alt=""></figure>
                                <h4>Paciente: {{ rating.title}}</h4>
                                <span class="comment-time"><i class="fas fa-calendar-alt"></i>{{ rating.created | date: 'dd MMM yyyy, h:mm a' }}</span>
                                
                                <ul class="rating clearfix">
                                    <span class="">{{ rating.score }}</span>
                                    <li *ngFor="let star of getStars(rating.score)"><i class="icon-Star"></i></li>
                                </ul>
                                <span class="comment-time">Que seleccionaron: 
                                    <span *ngFor="let tag of rating.tags.split(','); let last = last; index as i">
                                        {{ tag.trim() }}{{ !last ? ', ' : '' }}
                                    </span>
                                </span>
                                <p>Que comento: {{ rating.comment }}</p>
                                <span class="status">Estado: {{ getStatusText(rating) }}</span>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="pagination-wrapper">
                   <!--  <ul class="pagination">
                        <li><a href="clinic-1.html" class="current">1</a></li>
                        <li><a href="clinic-1.html">2</a></li>
                        <li><a href="clinic-1.html">3</a></li>
                        <li><a href="clinic-1.html"><i class="icon-Arrow-Right"></i></a></li>
                    </ul> -->
                </div>
            </div>
        </div>
        <div class="content-container" *ngIf="isAdmin">
            <div class="outer-container">
                <div class="review-list">
                    <div class="title-box clearfix">
                        <div class="text pull-left"><h3>Comentarios y Calificaciones</h3></div>
                        <div class="select-box pull-right">
                           
                        </div>
                    </div>
                    <div class="comment-inner">
                        <div class="single-comment-box" *ngFor="let rating of realtimeRatings.ratings$ | async">
                            <div class="comment">
                                <figure class="comment-thumb"><img src="assets/images/team/avatar.png" alt=""></figure>
                                <div class="comment-info">
                                    <h3>{{getProfessionalNameById(rating.idSpecialist)}}</h3>
                                    <h4>{{rating.title}}</h4>
                                    <h4>{{rating.comment}}</h4>
                                    <span class="comment-time"><i class="fas fa-calendar-alt"></i>{{rating.created | date:'mediumDate'}}</span>
                                </div>
                                <div class="rating-container">
                                        <ul class="rating clearfix">
                                            <li *ngFor="let star of getStars(rating.score)"><i class="icon-Star"></i></li>
                                            <span class="">{{rating.score}}</span>
                                        </ul>
                                </div>
                                <div class="tags-container">
                                    <ul class="tags">
                                        <li >
                                            <span class="tag">{{rating.tags}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="actions review-actions col-6" *ngIf="isAdmin">
                                    <button class="review-action-btn approve-btn" (click)="approveReview(rating)" [disabled]="rating.status === 'approved'">
                                        {{ rating.status === 'approved' ? 'Aprobado' : 'Aprobar' }}
                                    </button>
                                    <button class="review-action-btn reject-btn" (click)="rejectReview(rating)" [disabled]="rating.status === 'rejected'">
                                        {{ rating.status === 'rejected' ? 'Rechazado' : 'Rechazar' }}
                                    </button>
                                    <button class="review-action-btn reject-btn" (click)="deleteRating(rating.id)">
                                        Eliminar
                                    </button>
                                </div>
                                <div class="status-badge">{{getStatusText(rating)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-wrapper">
                    <ul class="pagination">
                        <li><a href="clinic-1.html" class="current">1</a></li>
                        <li><a href="clinic-1.html">2</a></li>
                        <li><a href="clinic-1.html">3</a></li>
                        <li><a href="clinic-1.html"><i class="icon-Arrow-Right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>