<section class="doctors-dashboard bg-color-3">
    <div class="left-panel">
        <div class="profile-box">
            <div class="upper-box">
                <figure class="profile-image">
                    <img [src]="authService.getImage()" alt="Profile Image" />
                </figure>
                <div class="title-box centred">
                    <div class="inner">
                        <h3> {{ global.professionalInfo?.name }} {{ global.professionalInfo?.lastname }}</h3>
                        <span>Genero: {{ global.professionalInfo?.gender  }}</span>
                        <p>{{ global.professionalInfo?.languages && hasSelectedItems(global.professionalInfo?.languages) ? 'Idiomas: ' + getSelectedItems(global.professionalInfo?.languages).join(', ') : 'No especificado' }}</p>
                        <p>Bienvenido(a) a tu panel de control</p>
                    </div>
                </div>
            </div>
            <div class="profile-info">
                <ul class="list clearfix">
                   
                    <li><a href="dashboard" style="cursor: pointer;"><i
                                class="fas fa-home"></i>Cuenta</a></li>
                    <li><a (click)="global.activeRoute = 'profile'" style="cursor: pointer;"><i
                                class="fas fa-user"></i>Actualizar datos</a></li>
                    <li><a style="cursor: pointer;"><i class="fas fa-unlock-alt"></i>Cambiar contraseña</a></li>
                    <li><a (click)="global.activeRoute = 'reviews'" style="cursor: pointer;"><i class="fas fa-comment"></i>Comentarios y Calificaciones</a></li>
                    <li>
                        <div class="btn-box" *ngIf="authService.isLogin()">
                            <a (click)="confirmLogout()" style="cursor: pointer;">
                                <i class="fa fa-sign-out"></i>Cerrar Sesión
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="right-panel">
        <div class="content-container">
            <div class="outer-container">
                <div class="review-list">
                    <div class="title-box clearfix">
                        <div class="text pull-left"><h3>Comentarios y Calificaciones</h3></div>
                        <div class="select-box pull-right">
                            <!-- <select class="wide">
                               <option data-display="Any Time">Any Time</option>
                               <option value="1">Latest Reviews</option>
                               <option value="2">Oldest Reviews</option>
                            </select> -->
                        </div>
                    </div>
                    <div class="comment-inner">
                        <div class="single-comment-box">
                            <div class="comment">
                                <figure class="comment-thumb"><img src="assets/images/resource/comment-1.png" alt=""></figure>
                                <h4>Terry Bradshaw</h4>
                                <span class="comment-time"><i class="fas fa-calendar-alt"></i>15 Sep 2020, 09:30AM</span>
                                <ul class="rating clearfix">
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li class="light"><i class="icon-Star"></i></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ux tempor incididunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                                <a href="review.html" class="replay-btn"><i class="fas fa-share"></i>Reply Now</a>
                            </div>
                        </div>
                        <div class="single-comment-box">
                            <div class="comment">
                                <figure class="comment-thumb"><img src="assets/images/resource/comment-3.png" alt=""></figure>
                                <h4>Julia Jhones</h4>
                                <span class="comment-time"><i class="fas fa-calendar-alt"></i>15 Sep 2020, 09:30AM</span>
                                <ul class="rating clearfix">
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li class="light"><i class="icon-Star"></i></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ux tempor incididunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                                <a href="review.html" class="replay-btn"><i class="fas fa-share"></i>Reply Now</a>
                            </div>
                        </div>
                        <div class="single-comment-box">
                            <div class="comment">
                                <figure class="comment-thumb"><img src="assets/images/resource/comment-4.png" alt=""></figure>
                                <h4>Leroy Anderson</h4>
                                <span class="comment-time"><i class="fas fa-calendar-alt"></i>12 Sep 2020, 09:30AM</span>
                                <ul class="rating clearfix">
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li class="light"><i class="icon-Star"></i></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ux tempor incididunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                                <a href="review.html" class="replay-btn"><i class="fas fa-share"></i>Reply Now</a>
                            </div>
                        </div>
                        <div class="single-comment-box">
                            <div class="comment">
                                <figure class="comment-thumb"><img src="assets/images/resource/comment-5.png" alt=""></figure>
                                <h4>Amelia Anna</h4>
                                <span class="comment-time"><i class="fas fa-calendar-alt"></i>11 Sep 2020, 09:30AM</span>
                                <ul class="rating clearfix">
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li class="light"><i class="icon-Star"></i></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ux tempor incididunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                                <a href="review.html" class="replay-btn"><i class="fas fa-share"></i>Reply Now</a>
                            </div>
                        </div>
                        <div class="single-comment-box">
                            <div class="comment">
                                <figure class="comment-thumb"><img src="assets/images/resource/comment-6.png" alt=""></figure>
                                <h4>Samuel Daniels</h4>
                                <span class="comment-time"><i class="fas fa-calendar-alt"></i>10 Sep 2020, 09:30AM</span>
                                <ul class="rating clearfix">
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li><i class="icon-Star"></i></li>
                                    <li class="light"><i class="icon-Star"></i></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ux tempor incididunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                                <a href="review.html" class="replay-btn"><i class="fas fa-share"></i>Reply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-wrapper">
                    <ul class="pagination">
                        <li><a href="clinic-1.html" class="current">1</a></li>
                        <li><a href="clinic-1.html">2</a></li>
                        <li><a href="clinic-1.html">3</a></li>
                        <li><a href="clinic-1.html"><i class="icon-Arrow-Right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>