 
<section class="doctor-details bg-color-3">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">

                <div class="clinic-details-content doctor-details-content">
                  
                    <div class="clinic-block-one">
                      <button class="btn btn-primary" (click)="global.activeRoute='professionals'">Ir atras</button>

                        <div class="inner-box">
                            <figure class="image-box" *ngFor="let image of global.previewProfesionals?.images">
                                <img [src]="image" alt="">
                            </figure>
                            <div class="content-box">
                       
                                <ul class="name-box clearfix">
                                    <li class="name">
                                        <h2 >{{ global.previewProfesionals.name }}</h2>
                                    </li>
                                    <li><i class="icon-Trust-1"></i></li>
                                    <li><i class="icon-Trust-2"></i></li>
                                </ul>
                                <p>Numero de registro: <span>{{ global.previewProfesionals.registrationNumber }}</span></p>
                                <p>Rut: <span>{{ global.previewProfesionals.rut }}</span></p>
                                <div class="rating-box clearfix">
                                    <ul class="rating clearfix">
                                        <li><i class="icon-Star"></i></li>
                                        <li><i class="icon-Star"></i></li>
                                        <li><i class="icon-Star"></i></li>
                                        <li><i class="icon-Star"></i></li>
                                        <li><i class="icon-Star"></i></li>
                                        <li><a >()</a></li>
                                    </ul>
                                </div>
                                <span class="designation" >Especialista en: <span style="color: #808080;">{{ global.previewProfesionals.typeEspeciality && global.previewProfesionals.typeEspeciality.length ? global.previewProfesionals.typeEspeciality[0].name : 'No especificado' }}</span></span>
                                <div class="lower-box clearfix">
                                    <ul class="info clearfix">
                                        <li ><i class="fas fa-map-marker-alt" ></i>Dirección de consultorio: <span style="color: #808080;">{{global.previewProfesionals.consultationAddress}}</span></li>
                                        <li>
                                            <i class="fas fa-map"></i>
                                            Región: 
                                            <span style="color: #808080;">
                                                {{ getRegionDisplay()}}
                                            </span>
                                        </li>                                        
                                        <li ><i class="fas fa-phone"></i><a href="tel:{{global.previewProfesionals.phone}}">{{global.previewProfesionals.phone}}</a></li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-box">
                        <div class="tab-btn-box centred">
                            <ul class="tab-btns tab-buttons clearfix">
                                <li class="tab-btn active-btn" data-tab="#tab-1">Información</li>
                                
                                
                                <li class="tab-btn" data-tab="#tab-4">Reseñas</li>
                            </ul>
                        </div>
                        <div class="tabs-content">
                            <div class="tab active-tab" id="tab-1">
                                <div class="inner-box">
                                    <div class="text">
                                        <h3>Sobre mi</h3>
                                        <p *ngIf="global.previewProfesionals">{{global.previewProfesionals.biography}} <br/>
                                            {{global.previewProfesionals.biography2}}
                                        </p>
                                        <div class="text">
                                            <h3>Idiomas: </h3>
                                            <span>
                                             {{ getLanguagesDisplay() }}</span>
                                            <ng-template #noLang>No especificado</ng-template>
                                        </div>
                                        <div class="text">
                                            <h3>Dirigido a: </h3>
                                            <span style="color: #808080;"> {{ global.getFormattedTargets(global.previewProfesionals.targets) }}</span>
                                        </div>
                                        <h3>Dificultades en (Tratamientos):</h3>
                                        <li>
                                            <span *ngIf="!global.previewProfesionals.typeTreatment || !global.previewProfesionals.typeTreatment.length">No especificado</span>
                                            <ul *ngIf="global.previewProfesionals.typeTreatment && global.previewProfesionals.typeTreatment.length">
                                              <li *ngFor="let tratamiento of global.previewProfesionals.typeTreatment">
                                                {{ tratamiento.name }}
                                              </li>
                                            </ul>
                                          </li>
                                        <h3>Corrientes</h3>
                                        <li>
                                            <span *ngIf="!global.previewProfesionals.corriente || !global.previewProfesionals.corriente.length">No especificado</span>
                                            <ul *ngIf="global.previewProfesionals.corriente && global.previewProfesionals.corriente.length">
                                              <li *ngFor="let corriente of global.previewProfesionals.corriente">
                                                {{ corriente.name }}
                                              </li>
                                            </ul>
                                          </li>
                                        <h3>Formación</h3>
                                        <ul class="list clearfix" *ngIf="global.previewProfesionals.academicTitles && global.previewProfesionals.academicTitles.length > 0">
                                            <li *ngFor="let title of global.previewProfesionals.academicTitles">
                                              {{ title.institution }} - {{ title.specialization }} ({{ title.year }})
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="tab" id="tab-4">
                                
                              <div class="review-box">
                                <h3>{{ global.previewProfesionals.name }} </h3>
                                <div class="rating-inner">
                                  <div class="rating-box">
                                    <h2>{{ averageRating }}</h2>
                                    <ul class="clearfix">
                                      <li><i class="icon-Star"></i></li>
                                      <li><i class="icon-Star"></i></li>
                                      <li><i class="icon-Star"></i></li>
                                      <li><i class="icon-Star"></i></li>
                                      <li><i class="icon-Star"></i></li>
                                    </ul>
                                    <span>Calificado por {{ ratings.length }} clientes</span>
                                  </div>
                                  <div class="rating-pregress">
                                    <div class="single-progress">
                                      <span class="porgress-bar" [style.width]="(ratingDistribution[0] / ratings.length * 100) + '%'"></span>
                                      <div class="text"><p><i class="icon-Star"></i>5 Estrellas</p></div>
                                    </div>
                                    <div class="single-progress">
                                      <span class="porgress-bar" [style.width]="(ratingDistribution[1] / ratings.length * 100) + '%'"></span>
                                      <div class="text"><p><i class="icon-Star"></i>4 Estrellas</p></div>
                                    </div>
                                    <div class="single-progress">
                                      <span class="porgress-bar" [style.width]="(ratingDistribution[2] / ratings.length * 100) + '%'"></span>
                                      <div class="text"><p><i class="icon-Star"></i>3 Estrellas</p></div>
                                    </div>
                                    <div class="single-progress">
                                      <span class="porgress-bar" [style.width]="(ratingDistribution[3] / ratings.length * 100) + '%'"></span>
                                      <div class="text"><p><i class="icon-Star"></i>2 Estrellas</p></div>
                                    </div>
                                    <div class="single-progress">
                                      <span class="porgress-bar" [style.width]="(ratingDistribution[4] / ratings.length * 100) + '%'"></span>
                                      <div class="text"><p><i class="icon-Star"></i>1 Estrella</p></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="review-inner">
                                  <div class="single-review-box" *ngFor="let review of ratings">
                                    <figure class="image-box">
                                      <img src="assets/images/resource/review-1.jpg" alt="">
                                    </figure>
                                    <ul class="rating clearfix">
                                      <li *ngFor="let star of Array(5); index as i">
                                        <i class="icon-Star" [class.light]="i >= review.score"></i>
                                      </li>
                                    </ul>
                                    <h6>{{ review.title }} <span>- {{ review.created | date:'mediumDate' }}</span></h6>
                                    <p>{{ review.comment }}</p>
                                    <div class="tags" *ngIf="review.tags">
                                      <span class="tag" *ngFor="let tag of review.tags.split(', ')">{{ tag }}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                <div class="auto-container submit-review">
                                    <div class="review-box">
                                      <div class="content-box">
                                        <div class="title-inner">
                                          <h3>Deja un comentario</h3>
                                          <p>Dejanos tu comentario para el especialista, nos ayuda a mejorar la atención</p>
                                        </div>
                                        <div class="content-inner">
                                          <div class="rating-box">
                                            <h4>Califica según tu experiencia</h4>
                                            <ul class="rating clearfix">
                                              <li *ngFor="let star of [1,2,3,4,5]; let i = index" 
                                                  (click)="setRating(i+1)">
                                                <i [class]="i < currentRating ? 'icon-Star-2 filled' : 'icon-Star-2'"></i>
                                              </li>
                                            </ul>
                                          </div>
                                          
                                          <div class="form-inner">
                                            <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
                                              <div class="row clearfix">
                                                <!-- Título -->
                                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                  <label style="color: #00224f;">Dinos tu nombre</label>
                                                  <input type="text" formControlName="title" placeholder="Nombre de paciente atendido" required>
                                                  <div *ngIf="reviewForm.get('title')?.errors && reviewForm.get('title')?.touched" class="error-message">
                                                    Por favor ingresa tu opinión
                                                  </div>
                                                </div>
                                                
                                                <!-- Tags rápidos -->
                                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                  <label style="color: #00224f;">Selecciona etiquetas que describan tu experiencia</label>
                                                  <div class="tags-container">
                                                    <span *ngFor="let tag of predefinedTags" 
                                                          class="tag" 
                                                          [class.selected]="selectedTags.includes(tag)"
                                                          (click)="toggleTag(tag)">
                                                      {{tag}}
                                                    </span>
                                                  </div>
                                                </div>
                                                
                                                <!-- Comentario -->
                                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                  <label style="color: #00224f;">¿Qué dirías?</label>
                                                  <textarea formControlName="comment" placeholder="Si puedes decirlo en una frase, ¿qué dirías?"></textarea>
                                                </div>
                                                
                                                
                                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                  <div *ngIf="!isRecaptchaLoaded" class="recaptcha-loading">
                                                    <div class="loading-animation">
                                                      <div class="spinner"></div>
                                                      <div class="progress-bar">
                                                        <div class="progress"></div>
                                                      </div>
                                                    </div>
                                                    <div class="loading-message">
                                                      <p><strong>Cargando sistema de seguridad...</strong></p>
                                                      <p class="small">Esto puede tardar unos segundos. Por favor espera.</p>
                                                      <p class="small" *ngIf="retryCount > 0">Reintentando... ({{retryCount}}/{{maxRetries}})</p>
                                                    </div>
                                                  </div>
                                                  
                                                  <div *ngIf="isRecaptchaLoaded" class="recaptcha-ready">
                                                    <div class="success-icon">✓</div>
                                                    <p class="ready-message">Sistema de seguridad listo</p>
                                                  </div>
                                                  
                                                  <div *ngIf="recaptchaError" class="recaptcha-error">
                                                    <div class="error-icon">⚠</div>
                                                    <p class="error-message">{{recaptchaError}}</p>
                                                    <button class="retry-btn" (click)="retryRecaptcha()">Reintentar</button>
                                                  </div>
                                                </div>
                                                <!-- Términos -->
                                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                  <div class="custom-control material-checkbox">
                                                    <input type="checkbox" formControlName="terms" class="material-control-input" required id="termsCheckbox">
                                                    <label for="termsCheckbox" class="material-control-indicator"></label>
                                                    <span class="description" style="color: #00224f;">Acepto los <a (click)="openTerms($event)">términos y condiciones</a> y la <a (click)="openTerms($event)">política de privacidad</a></span>
                                                  </div>
                                                  <div *ngIf="reviewForm.get('terms')?.errors && reviewForm.get('terms')?.touched" class="error-message">
                                                    Debes aceptar los términos y condiciones
                                                  </div>
                                                </div>

                                                <!-- Botón de envío -->
                                                <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                                  <button type="submit" class="theme-btn-one" [disabled]="!reviewForm.valid" style="cursor: pointer">
                                                    Enviar <i class="icon-Arrow-Right"></i>
                                                  </button>
                                                </div>
                                              </div>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="doctors-sidebar">
                    <div class="form-widget">
                        <div class="form-title">
                            <h3>Quieres agendar una cita</h3>
                            <p>Horario: {{ global.previewProfesionals.openingHours }}</p>
                            <p>Dia: </p>
                            <ul>
                                <li *ngFor="let day of getSelectedDays(global.previewProfesionals.days)">{{ day }}</li>
                            </ul>
                            <p>Costo de atención: CLP {{ global.previewProfesionals.priceSession }}</p>
                        </div>
                        <div class="form-inner">
                    
                            <div class="choose-service">
                                <h4>Dejame tus datos</h4>
                                <form>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px;">
                                        <input type="text" name="name" placeholder="Escribe tu nombre" [(ngModel)]="name" required="">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px;">
                                        <input type="number" name="phone" placeholder="Escribe tu telefono" [(ngModel)]="phone" required="">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px;">
                                        <input type="email" name="email" placeholder="Escribe tu correo" [(ngModel)]="email" required="">
                                    </div>
                                    <div class="row">
                                        <div class="col-12 btn-box">
                                            <a class="theme-btn-one" (click)="sendToWhatsApp()">Enviar al WhatsApp<i class="fab fa-whatsapp"></i></a>
                                        </div>
                                        <div class="col-12 btn-box">
                                            <a class="theme-btn-one" (click)="sendToEmail()">Enviar al Correo<i class="fa fa-envelope"></i></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
