 
<section class="doctor-details bg-color-3">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="clinic-details-content doctor-details-content">
                    <div class="clinic-block-one">
                        <div class="inner-box">
                            <figure class="image-box" *ngFor="let image of global.previewProfesionals?.images">
                                <img [src]="image" alt="">
                            </figure>
                            <div class="content-box">
                       
                                <ul class="name-box clearfix">
                                    <li class="name">
                                        <h2 >{{ global.previewProfesionals.name }}</h2>
                                    </li>
                                    <li><i class="icon-Trust-1"></i></li>
                                    <li><i class="icon-Trust-2"></i></li>
                                </ul>
                                <p>Numero de registro: <span>{{ global.previewProfesionals.registrationNumber }}</span></p>
                                <p>Rut: <span>{{ global.previewProfesionals.rut }}</span></p>
                                <div class="rating-box clearfix">
                                    <ul class="rating clearfix">
                                        <li><i class="icon-Star"></i></li>
                                        <li><i class="icon-Star"></i></li>
                                        <li><i class="icon-Star"></i></li>
                                        <li><i class="icon-Star"></i></li>
                                        <li><i class="icon-Star"></i></li>
                                        <li><a >()</a></li>
                                    </ul>
                                </div>
                                <span class="designation" >Especialista en: <span style="color: #808080;">{{ global.previewProfesionals.typeEspeciality && global.previewProfesionals.typeEspeciality.length ? global.previewProfesionals.typeEspeciality[0].name : 'No especificado' }}</span></span>
                                <div class="lower-box clearfix">
                                    <ul class="info clearfix">
                                        <li ><i class="fas fa-map-marker-alt" ></i>Dirección de consultorio: <span style="color: #808080;">{{global.previewProfesionals.consultationAddress}}</span></li>
                                        <li>
                                            <i class="fas fa-map"></i>
                                            Región: 
                                            <span style="color: #808080;">
                                                {{ getRegionDisplay()}}
                                            </span>
                                        </li>                                        
                                        <li ><i class="fas fa-phone"></i><a href="tel:{{global.previewProfesionals.phone}}">{{global.previewProfesionals.phone}}</a></li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-box">
                        <div class="tab-btn-box centred">
                            <ul class="tab-btns tab-buttons clearfix">
                                <li class="tab-btn active-btn" data-tab="#tab-1">Información</li>
                                <!-- <li class="tab-btn" data-tab="#tab-2">Experiencia</li>
                                  <li class="tab-btn" data-tab="#tab-3">Ubicación</li>
                                 -->
                                
                                <li class="tab-btn" data-tab="#tab-4">Reseñas</li>
                            </ul>
                        </div>
                        <div class="tabs-content">
                            <div class="tab active-tab" id="tab-1">
                                <div class="inner-box">
                                    <div class="text">
                                        <h3>Sobre mi</h3>
                                        <p *ngIf="global.previewProfesionals">{{global.previewProfesionals.biography}} <br/>
                                            {{global.previewProfesionals.biography2}}
                                        </p>
                                        <div class="text">
                                            <h3>Idiomas: </h3>
                                            <span>
                                              {{ getLanguagesDisplay() }}
                                            </span>
                                            <ng-template #noLang>No especificado</ng-template>
                                        </div>
                                        <div class="text">
                                            <h3>Dirigido a: </h3>
                                            <span style="color: #808080;"> {{ global.getFormattedTargets(global.previewProfesionals.targets) }}</span>
                                        </div>
                                        <h3>Dificultades en (Tratamientos):</h3>
                                        <li>
                                            <span *ngIf="!global.previewProfesionals.typeTreatment || !global.previewProfesionals.typeTreatment.length">No especificado</span>
                                            <ul *ngIf="global.previewProfesionals.typeTreatment && global.previewProfesionals.typeTreatment.length">
                                              <li *ngFor="let tratamiento of global.previewProfesionals.typeTreatment">
                                                {{ tratamiento.name }}
                                              </li>
                                            </ul>
                                          </li>
                                        <h3>Corrientes</h3>
                                        <li>
                                            <span *ngIf="!global.previewProfesionals.corriente || !global.previewProfesionals.corriente.length">No especificado</span>
                                            <ul *ngIf="global.previewProfesionals.corriente && global.previewProfesionals.corriente.length">
                                              <li *ngFor="let corriente of global.previewProfesionals.corriente">
                                                {{ corriente.name }}
                                              </li>
                                            </ul>
                                          </li>
                                        <h3>Formación</h3>
                                        <ul class="list clearfix" *ngIf="global.previewProfesionals.academicTitles && global.previewProfesionals.academicTitles.length > 0">
                                            <li *ngFor="let title of global.previewProfesionals.academicTitles">
                                              {{ title.institution }} - {{ title.specialization }} ({{ title.year }})
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="tab" id="tab-4">
                                <div class="review-box">
                                    <h3>Dr. Agnes Ayres Reviews</h3>
                                    <div class="rating-inner">
                                        <div class="rating-box">
                                            <h2>4.5</h2>
                                            <ul class="clearfix">
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                            </ul>
                                            <span>Based on 5 review</span>
                                        </div>
                                        <div class="rating-pregress">
                                            <div class="single-progress">
                                                <span class="porgress-bar"></span>
                                                <div class="text"><p><i class="icon-Star"></i>5 Stars</p></div>
                                            </div>
                                            <div class="single-progress">
                                                <span class="porgress-bar"></span>
                                                <div class="text"><p><i class="icon-Star"></i>4 Stars</p></div>
                                            </div>
                                            <div class="single-progress">
                                                <span class="porgress-bar"></span>
                                                <div class="text"><p><i class="icon-Star"></i>3 Stars</p></div>
                                            </div>
                                            <div class="single-progress">
                                                <span class="porgress-bar"></span>
                                                <div class="text"><p><i class="icon-Star"></i>2 Stars</p></div>
                                            </div>
                                            <div class="single-progress">
                                                <span class="porgress-bar"></span>
                                                <div class="text"><p><i class="icon-Star"></i>1 Stars</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review-inner">
                                        <div class="single-review-box">
                                            <figure class="image-box"><img src="assets/images/resource/review-1.jpg" alt=""></figure>
                                            <ul class="rating clearfix">
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li class="light"><i class="icon-Star"></i></li>
                                            </ul>
                                            <h6>Agnes Ayres <span>- April 10, 2020</span></h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed eiusmod tempor incididunt labore dolore magna aliqua enim.</p>
                                        </div>
                                    </div>
                                    <div class="btn-box">
                                        <a  class="theme-btn-one">Enviar<i class="icon-Arrow-Right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="doctors-sidebar">
                    <div class="form-widget">
                        <div class="form-title">
                            <h3>Quieres agendar una cita</h3>
                            <p>Horario: {{ global.previewProfesionals.openingHours }}</p>
                            <p>Dia: </p>
                            <ul>
                                <li *ngFor="let day of getSelectedDays(global.previewProfesionals.days)">{{ day }}</li>
                            </ul>
                            <p>Costo de atención: CLP {{ global.previewProfesionals.priceSession }}</p>
                        </div>
                        <div class="form-inner">
                    
                            <div class="choose-service">
                                <h4>Dejame tus datos</h4>
                                <form>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px;">
                                        <input type="text" name="name" placeholder="Escribe tu nombre" required="">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px;">
                                        <input type="number" name="phone" placeholder="Escribe tu telefono" required="">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px;">
                                        <input type="email" name="email" placeholder="Escribe tu correo" required="">
                                    </div>
                                <div class="row">
                                    <div class="col-12 btn-box">
                                        <a  class="theme-btn-one" (click)="sendToWhatsApp()"> Enviar al WhatsApp<i class="fab fa-whatsapp"></i></a>
                                    </div>
                                    <div class="col-12 btn-box">
                                        <a  class="theme-btn-one" (click)="sendToWhatsApp()">Enviar al Correo<i class="fa fa-envelope"></i></a>
                                    </div>

                                </div>
                                
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
