<div class="boxed_wrapper">

  <!-- main header -->
  <header class="main-header style-two fixed-header">
    <!-- header-lower -->
    <div class="header-lower">
        <div class="auto-container">
            <div class="outer-box">
                <div class="logo-box">
                    <figure class="logo"><a (click)="globalService.activeRoute = 'home'; globalService.scrollToTop()"><img src="assets/images/logo-3.png" alt=""></a></figure>
                </div>
                <div class="menu-area">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler" (click)="toggleMobileMenu()">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show" id="navbarSupportedContent">
                            <ul class="navigation">
                                <ng-container *ngFor="let item of menuItems">
                                    <li *ngIf="item.visible()">
                                        <a (click)="globalService.activeRoute = item.route; " style="cursor: pointer;">
                                            {{item.label}}
                                        </a>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="btn-box" *ngIf="!auth.isLogin()">
                    <a (click)="onAction('login')" class="theme-btn-one" [hidden]="globalService.activeRoute === 'login' " style="cursor: pointer;">
                        <i class="fa fa-sign-in"></i>Ingresar
                    </a>
                </div>
                <div class="btn-box" *ngIf="!auth.isLogin()">
                    <a (click)="onAction('register')" class="theme-btn-two" [hidden]="globalService.activeRoute === 'register' " style="cursor: pointer;">
                        <i class="fa fa-user"></i> Registrate
                    </a>
                </div>
                <div class="btn-box" *ngIf="auth.isLogin()">
                    <a (click)="logoutUser()" class="theme-btn-two">
                        <i class="fa fa-sign-out" style="cursor: pointer; padding-right: 5px;"></i>Cerrar Sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
  <!-- main-header end -->

  <!-- Mobile Menu  -->
  <div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><i class="fas fa-times"></i></div>
    
    <nav class="menu-box">
        <div class="nav-logo"><a (click)="globalService.activeRoute = 'home'; globalService.scrollToTop(); closeMobileMenu()" style="cursor: pointer;"><img src="assets/images/logo-2.png" alt="" title=""></a></div>
        <div class="menu-outer">
            <ul class="navigation">
                <ng-container *ngFor="let item of menuItems">
                    <li *ngIf="item.visible()">
                        <a (click)="globalService.activeRoute = item.route; closeMobileMenu()" style="cursor: pointer;">
                            {{item.label}}
                        </a>
                    </li>
                </ng-container>
                <li *ngIf="!auth.isLogin()">
                    <a (click)="onAction('login'); closeMobileMenu()" style="cursor: pointer;">
                        <i class="fa fa-sign-in"></i> Ingresar
                    </a>
                </li>
                <li *ngIf="!auth.isLogin()">
                    <a (click)="onAction('register'); closeMobileMenu()" style="cursor: pointer;">
                        <i class="fa fa-user"></i> Registrate
                    </a>
                </li>
                <li *ngIf="auth.isLogin()">
                    <a (click)="logoutUser(); closeMobileMenu()" style="cursor: pointer;">
                        <i class="fa fa-sign-out"></i> Cerrar Sesión
                    </a>
                </li>
            </ul>
        </div>
        <div class="contact-info">
            <h4>Información de contacto</h4>
            <ul>
                <li>Chile</li>
                <li><a href="mailto:contacto&#64;redpsicologos.cl">contacto&#64;redpsicologos.cl</a></li>
            </ul>
        </div>
        <div class="social-links">
            <ul class="clearfix">
                <li><a href="https://www.instagram.com/redpsicologos_cl/?igsh=dDJoMGM4MGVvNWk0&utm_source=qr" target="_blank"><span class="fab fa-instagram"></span></a></li>
            </ul>
        </div>
    </nav>
</div><!-- End Mobile Menu -->

  <app-home [hidden]="globalService.activeRoute !== 'home'"></app-home> 
  <app-contact [hidden]="globalService.activeRoute !== 'contact'"></app-contact>
  <app-professionals [hidden]="globalService.activeRoute !== 'professionals'"></app-professionals>
  <app-professional-detail [hidden]="globalService.activeRoute !== 'professional-detail'"></app-professional-detail>
  <app-register [hidden]="globalService.activeRoute !== 'register'"></app-register>
  <app-login [hidden]="globalService.activeRoute !== 'login'"></app-login>
  <app-profile [hidden]="globalService.activeRoute !== 'profile'"></app-profile>
  <app-homeadmin [hidden]="globalService.activeRoute !== 'homeadmin'"></app-homeadmin>
  <app-homeprofessional [hidden]="globalService.activeRoute !== 'homeprofessional'"></app-homeprofessional>
  <app-settings [hidden]="globalService.activeRoute !== 'settings'"></app-settings>
  <app-reviews [hidden]="globalService.activeRoute !== 'reviews'"></app-reviews>
  <!-- main-footer -->
  <footer class="main-footer">
    <div class="footer-top">
        <div class="pattern-layer">
            <div class="pattern-1" style="background-image: url(assets/images/shape/shape-30.png);"></div>
            <div class="pattern-2" style="background-image: url(assets/images/shape/shape-31.png);"></div>
        </div>
        <div class="auto-container">
            <div class="widget-section">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget logo-widget">
                            <figure class="footer-logo"><a ><img src="assets/images/footer-logo.png" alt=""></a></figure>
                            <div class="text">
                                <p>Aplicación diseñada para psicólogos y especialistas de salud mental. <br>
                                    Somos directorio online en todo Chile, busquedas avanzadas, registro 100% gratis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h3>Especialistas de la salud mental.</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="links clearfix">
                                    <li><a (click)="globalService.activeRoute = 'professionals'; globalService.scrollToTop()">Especialistas</a></li>
                                    <li><a (click)="globalService.activeRoute = 'register'; globalService.scrollToTop()">Registro</a></li>
                                    <li><a (click)="globalService.activeRoute = 'login'; globalService.scrollToTop()">Iniciar Sesión</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h3>Enlaces útiles</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="links clearfix">
                                    <li><a (click)="globalService.activeRoute = 'professionals'; globalService.scrollToTop()">Especialistas</a></li>
                                    <li><a >Politicas de privacidad</a></li>
                                    <li><a >Terminos y condiciones</a></li>
                                    <li><a (click)="globalService.activeRoute = 'login'; globalService.scrollToTop()">Planes de suscripción</a></li>
                                    <li><a (click)="globalService.activeRoute = 'contact'; globalService.scrollToTop()">Ayuda</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget contact-widget">
                            <div class="widget-title">
                                <h3>Contáctanos</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="info-list clearfix">
                                    <li><i class="fas fa-map-marker-alt"></i>
                                        Directorio en linea, todo chile.
                                    </li>
                                    <li><i class="fas fa-envelope"></i>
                                        <a href="mailto:contacto&#64;redpsicologos.cl">contacto&#64;redpsicologos.cl</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner-box clearfix">
                <div class="copyright pull-left"><p><a >Redpsicologos.cl </a> &copy; 2025 Todos los derechos reservados</p></div>
                <ul class="footer-nav pull-right clearfix">
                    <li><a >Terminos y condiciones</a></li>
                    <li><a >Politicas de privacidad</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
  <!-- main-footer end -->


  <!--Scroll to top-->
  <button class="scroll-top scroll-to-target" data-target="html">
      <span class="fa fa-arrow-up"></span>
  </button>
</div>

<router-outlet />
