<section class="registration-section bg-color-3">
    <div class="pattern">
        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-85.png);"></div>
        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-86.png);"></div>
    </div>
    <div class="auto-container">
        <div class="inner-box">
            <div class="content-box">
                <div class="title-box">
                    <h3>Ingrese los datos de su cuenta</h3>
                </div>
                <div class="inner">
                    <form method="post" class="registration-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                        <div class="row clearfix">
                            <!-- Correo -->
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label>Correo</label>
                                <input  name="email" placeholder="Ingrese su correo" type="text"
                                        class="form-control py-11 ps-40"
                                        id="email" formControlName="email">
                                <div *ngIf="email?.invalid && (email?.touched || email?.dirty)" class="text-danger">
                                    <small *ngIf="email?.hasError('required')">El correo es obligatorio.</small>
                                    <small *ngIf="email?.hasError('email')">Por favor, ingresa un correo válido.</small>
                                </div>
                            </div>

                            <!-- Contraseña -->
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label>Contraseña</label>
                                <div class="input-group">
                                    <input name="password" placeholder="Ingrese su contraseña"
                                           class="form-control"
                                           [type]="passwordVisible ? 'text' : 'password'"
                                           formControlName="password">
                                    <span class="input-group-text password-toggle">
                                      <button type="button" (click)="togglePasswordVisibility()" class="">
                                        <i class="fa fa-eye" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                                      </button>
                                    </span>
                                </div>
                                <div *ngIf="password?.invalid && (password?.touched || password?.dirty)" class="text-danger">
                                    <small *ngIf="password?.hasError('required')">La contraseña es obligatoria.</small>
                                    <small *ngIf="password?.hasError('minlength')">La contraseña debe tener al menos 6 caracteres.</small>
                                </div>
                            </div>

                            <!-- Olvido Contraseña -->
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <div class="forgot-password clearfix">
                                    <a>¿Olvidó su contraseña?</a>
                                </div>
                            </div>

                            <!-- Términos y condiciones -->
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <div class="custom-check-box">
                                    <div class="custom-controls-stacked">
                                        <label class="custom-control material-checkbox">
                                            <input type="checkbox" class="material-control-input" required>
                                            <span class="material-control-indicator"></span>
                                            <span class="description">Aceptar <a href="">terminos y condiciones</a> y la <a href="">política de privacidad</a></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Error del formulario -->
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                <div *ngIf="errorMessage" class="text-danger mb-3">{{ errorMessage }}</div>
                                <button type="submit" class="theme-btn-one" [disabled]="loginForm.invalid || loading">
                                    <span *ngIf="!global.loading">Iniciar sesión</span>
                                    <span *ngIf="global.loading ">
                                        <img src="assets/images/loader.gif" width="40" alt="Loading..." /> <!-- Adjust the path to your loader image -->
                                        <span>Entrando, por favor espere...</span>
                                    </span>
                                    <i class="icon-Arrow-Right" *ngIf="!global.loading"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="text"><span>O</span></div>
                    <div class="login-now">
                        <p>¿No tienes cuenta? <a (click)="global.activeRoute='register'" style=" cursor: pointer; ">Regístrate</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>