<section class="doctors-dashboard bg-color-3">
    <div class="left-panel">
        <div class="profile-box">
            <div class="upper-box">
                <figure class="profile-image"><img src="assets/images/team/avatar.png" alt="" style="width: 50%;
                    padding: 10px;
                    margin: 10px;
                "></figure>
                <div class="title-box centred">
                    <div class="inner">
                        <h3>Administrador</h3>
                        <p>Red Psicólogos Chile</p>
                    </div>
                </div>
            </div>
            <div class="profile-info">
                <ul class="list clearfix">
                    <li><a (click)="global.setMenuOption('settings')" style="cursor: pointer;"><i class="fas fa-cog"></i>Ajustes</a></li>
                    <li><a (click)="global.setMenuOption('dashboard')" class="current" style="cursor: pointer;"><i class="fas fa-users"></i>Especialistas</a></li>
                    <li><a (click)="global.setMenuOption('settings')" style="cursor: pointer;"><i class="fas fa-calendar-alt"></i>Planes de suscripción</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="right-panel" id="" [hidden]="auth.getType() === 'admin'">
        <div class="content-container">
            <div class="outer-container">
                <div class="feature-content">
                    <div class="row clearfix">
                        <div class="col-xl-4 col-lg-12 col-md-12 feature-block">
                            <div class="feature-block-two">
                                <div class="inner-box">
                                    <div class="pattern">
                                        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-79.png);"></div>
                                        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-80.png);"></div>
                                    </div>
                                    <div class="icon-box"><i class="icon-Dashboard-2"></i></div>
                                    <h3><ng-container *ngIf="profesionals !== undefined; else loading">
                                        {{profesionals.length}}
                                    </ng-container>
                                    <ng-template #loading>
                                        <span>Cargando...</span>
                                    </ng-template></h3>
                                    <h5>Total especialistas</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-12 col-md-12 feature-block">
                            <div class="feature-block-two">
                                <div class="inner-box">
                                    <div class="pattern">
                                        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-81.png);"></div>
                                        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-82.png);"></div>
                                    </div>
                                    <div class="icon-box"><i class="icon-Dashboard-5"></i></div>
                                    <h3>320</h3>
                                    <h5>Total comentarios</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-12 col-md-12 feature-block">
                            <div class="feature-block-two">
                                <div class="inner-box">
                                    <div class="pattern">
                                        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-83.png);"></div>
                                        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-84.png);"></div>
                                    </div>
                                    <div class="icon-box"><i class="icon-Dashboard-3"></i></div>
                                    <h3>{{profesionals.length}}</h3>
                                    <h5>Total especialistas activos</h5>
<!--                                     <p>Lorem ipsum dolor  amet eiusmod tempor.</p>
 -->                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="right-panel" id="dashboard" [hidden]="global.menuSelected !== 'dashboard' || auth.getType() !== 'admin'" >
        <div class="content-container">
            <div class="outer-container">
                <div class="feature-content">
                    <div class="row clearfix">
                        <div class="col-xl-4 col-lg-12 col-md-12 feature-block">
                            <div class="feature-block-two">
                                <div class="inner-box">
                                    <div class="pattern">
                                        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-79.png);"></div>
                                        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-80.png);"></div>
                                    </div>
                                    <div class="icon-box"><i class="icon-Dashboard-2"></i></div>
                                    <h3><ng-container *ngIf="profesionals !== undefined; else loading">
                                        {{profesionals.length}}
                                    </ng-container>
                                    <ng-template #loading>
                                        <span>Cargando...</span>
                                    </ng-template></h3>
                                    <h5>Total especialistas</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-12 col-md-12 feature-block">
                            <div class="feature-block-two">
                                <div class="inner-box">
                                    <div class="pattern">
                                        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-81.png);"></div>
                                        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-82.png);"></div>
                                    </div>
                                    <div class="icon-box"><i class="icon-Dashboard-5"></i></div>
                                    <h3>320</h3>
                                    <h5>Total comentarios</h5>
<!--                                     <p>Lorem ipsum dolor  amet eiusmod tempor.</p>
 -->                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-12 col-md-12 feature-block">
                            <div class="feature-block-two">
                                <div class="inner-box">
                                    <div class="pattern">
                                        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-83.png);"></div>
                                        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-84.png);"></div>
                                    </div>
                                    <div class="icon-box"><i class="icon-Dashboard-3"></i></div>
                                    <h3>{{profesionals.length}}</h3>
                                    <h5>Total especialistas activos</h5>
<!--                                     <p>Lorem ipsum dolor  amet eiusmod tempor.</p>
 -->                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="doctors-appointment">
                    <div class="title-box">
                        <h3>Solicitudes</h3>
                    </div>
                    <div class="tab-container">
                        <nav class="custom-tabs">
                          <button 
                            class="tab-btn" 
                            [class.active]="activeTab === 'pending'" 
                            (click)="setActiveTab('pending')">
                            Pendientes
                          </button>
                          <button 
                            class="tab-btn" 
                            [class.active]="activeTab === 'approved'" 
                            (click)="setActiveTab('approved')">
                            Aprobadas
                          </button>
                          <button 
                            class="tab-btn" 
                            [class.active]="activeTab === 'denied'" 
                            (click)="setActiveTab('denied')">
                            Denegadas
                          </button>
                        </nav>
                      </div>

                    <div class="doctors-list">
                        <div class="table-outer">
                            <table class="doctors-table">
                                <thead class="table-header">
                                    <tr *ngIf="filteredProfesionals().length > 0"> <!-- Mostrar encabezados solo si hay registros -->

                                        <th>Nombre</th>
                                        <th>Fecha de solicitud</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let profesional of filteredProfesionals()" 
                                        (click)="showDetails(profesional)">
                                        <td style="cursor: pointer;">
                                            <div class="name-box">
                                                <figure class="image" *ngIf="profesional.images && profesional.images.length > 0">
                                                    <img [src]="profesional.images[0]" alt="Foto de perfil" />
                                                </figure>
                                                <h5>{{profesional.name}}</h5>
                                                <span class="designation">{{profesional.email}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <p>{{formatDate(profesional.created) || profesional.created}}</p>
                                            <span class="time">{{hoursDate(profesional.created) || profesional.created}}</span>
                                        </td>
                                        
                                        <td>
                                            <div class="btn-box">
                                                <a (click)="deleteProfesional(profesional); $event.stopPropagation()" style="cursor: pointer;">
                                                    <i class="fa fa-trash"></i>Eliminar
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngIf="filteredProfesionals().length === 0">
                                        <td colspan="4" style="
                                            color   : #003366;
                                            padding: 2rem;
                                            text-align: center;">No hay registros disponibles.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    
    <app-settings [hidden]="global.menuSelected !== 'settings' || auth.getType() !== 'admin'"></app-settings>
    
</section>