<div class="boxed_wrapper">
    <!--page-title-two-->
    <section class="page-title-two">
        <div class="title-box centred bg-color-2">
            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url(assets/images/shape/shape-70.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/shape-71.png);"></div>
            </div>
            <div class="auto-container">
                <div class="title">
                    <h1>Profesionales en salud mental</h1>
                </div>
            </div>
        </div>
    </section>
    <!--page-title-two end-->
    <div class="select-field bg-color-3">
        <div class="auto-container">
            <div class="content-box">
                <div class="form-inner clearfix">
                  <form method="post" class="filter-form">
                    <div class="form-group clearfix">
                      <input type="text" 
                        class="search-input"
                        name="searchTerm" 
                        placeholder="Buscar por nombre, tratamiento, especialidad, terapia o corriente..." 
                        [(ngModel)]="searchTerm"
                        (input)="onSearchTermChange($event)">
                        
                      <button type="button" class="search-button" 
                        (click)="applyFilters(professionals, selectedRegionId, selectedCorrienteId, searchTerm, selectedTratamientos, selectedEspecialidades, selectedTerapy, tratamientos, especialidades, corrientes, therapias); toggleFilters()">
                        <i class="icon-Arrow-Right"></i>
                      </button>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>


    <!-- doctors-page-section -->
    <section class="clinic-section doctors-page-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 content-side">
                    <div class="item-shorting clearfix">
                        <div class="left-column pull-left">
                            <h3>
                                Resultados {{ startResult }}-{{ endResult }} de {{ totalResults }}
                              </h3>
                            <div class="pagination-wrapper" *ngIf="totalPages > 1">
                                <ul class="pagination">
                                  <li>
                                    <a (click)="goToPage(currentPage - 1)" [class.disabled]="currentPage === 1"><i class="icon-Arrow-Left"></i></a>
                                  </li>
                                  <li *ngFor="let page of [].constructor(totalPages); let i = index">
                                    <a (click)="goToPage(i + 1)" [class.current]="currentPage === (i + 1)">{{ i + 1 }}</a>
                                  </li>
                                  <li>
                                    <a (click)="goToPage(currentPage + 1)" [class.disabled]="currentPage === totalPages"><i class="icon-Arrow-Right"></i></a>
                                  </li>
                                </ul>
                              </div>
                        </div>
                        <div class="right-column pull-right clearfix">

                          <div class="short-box clearfix desktop-only">
                            <div class="select-box">
                                <mat-form-field appearance="fill" style="width: 100%">
                                    <mat-label>Region</mat-label>
                                    <mat-select [(ngModel)]="selectedRegionId" (selectionChange)="onRegionChange($event)">
                                      <mat-option [value]="''">Todas las regiones</mat-option>
                                      <mat-option *ngFor="let region of regiones" [value]="region.id">
                                        {{region.name}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                          </div>
                          <div class="short-box clearfix desktop-only">
                            <div class="select-box">
                                <mat-form-field appearance="fill" style="width: 100%">
                                    <mat-label>Tratamiento</mat-label>
                                    <mat-select [(ngModel)]="selectedTratamientos" (selectionChange)="onTratamientoChange($event)">
                                      <mat-option [value]="''">Todos los tratamientos</mat-option>
                                      <mat-option *ngFor="let tratamiento of realtimeTratamientos.tratamientos$ | async" [value]="tratamiento.id">
                                        {{tratamiento.name}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                          </div>
                            <div class="short-box clearfix desktop-only">
                            <div class="select-box">
                                <mat-form-field appearance="fill" style="width: 100%">
                                    <mat-label>Especialidad</mat-label>
                                    <mat-select [(ngModel)]="selectedEspecialidades" (selectionChange)="onEspecialidadChange($event)">
                                          <mat-option [value]="''">Todos las especialidades</mat-option>
                                          <mat-option *ngFor="let especialidad of realtimeEspecialidades.especialidades$ | async" [value]="especialidad.id">
                                            {{especialidad.name}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="short-box clearfix  desktop-only">
                                <div class="select-box">
                                    <mat-form-field appearance="fill" style="width: 100%">
                                        <mat-label>Corriente</mat-label>
                                        <mat-select [(ngModel)]="selectedCorrienteId" (selectionChange)="onCorrienteChange($event)">
                                          <mat-option [value]="''">Todas las corrientes</mat-option>
                                          <mat-option *ngFor="let corriente of corrientes" [value]="corriente.id">
                                            {{corriente.name}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="menu-box">
                                <button class="list-view on" [class.on]="view === 'list'" (click)="view = 'list'" ><i class="icon-List"></i></button>
                                <button class="grid-view" [class.on]="view === 'grid'" (click)="view = 'grid'" ><i class="icon-Grid"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper" *ngIf="view === 'list'">
                        
                        <!-- BLOQUE DE LISTA -->
                        <div (click)="global.goToDetail(profesional); global.scrollToTop()" style="cursor: pointer;" class="clinic-list-content list-item" 
                        *ngFor="let profesional of paginatedProfesionales">                        
                            <div class="clinic-block-one">
                                <div class="inner-box">
                                    <div class="pattern">
                                        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-24.png);"></div>
                                        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-25.png);"></div>
                                    </div>
                                    <figure class="image-box">
                                        <img 
                                          [src]="profesional.images[0] || 'assets/images/user.png'" 
                                          [alt]="profesional.name || 'Professional'"
                                        >
                                      </figure>
                                    <div class="content-box">
                                        <div class="like-box"><a (click)="global.goToDetail(profesional)"><i class="far fa-shield"></i></a></div>
                                        <ul class="name-box clearfix">
                                            <li class="name"><h3><a (click)="global.goToDetail(profesional)">{{profesional.name}}</a></h3></li>
                                            <li><i class="icon-Trust-1"></i></li>
                                            <li><i class="icon-Trust-2"></i></li>
                                        </ul>
                                        <div class="text">
                                            <p>{{profesional.biography}}</p>
                                        </div>
                                        <span class="designation" style="color: #0f405f;">
                                            Especialista en: 
                                            <span style="color: #808080;"> {{ profesional.typeEspeciality && profesional.typeEspeciality.length ? profesional.typeEspeciality[0].name : 'No especificado' }}
                                            </span>
                                        </span>
                                        <span style="color:  #0f405f;">Dirigido a: <span style="color: #808080;"> {{ getFormattedTargets(profesional.targets) }}</span></span>
                                        <p style="color:  #0f405f;">Terapia: <span style="color: #808080;"> {{ getFormattedTerapias(profesional.typeTherapy) }}</span></p>
                                        <div class="rating-box clearfix">
                                            <ul class="rating clearfix">
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <!-- <li><a >(17)</a></li> -->
                                            </ul>
                                        </div>
                                        <div class="location-box">
                                            <p><i class="fas fa-map-marker-alt"></i>{{profesional.consultationAddress}}</p>
                                        </div>
                                        <div class="lower-box clearfix">
                                            <p><i class="fas fa-heart" style="color: #0f405f;"></i> Sesion: <span style="color: #808080;">{{profesional.priceSession}}</span></p>
                                        </div>
                                        <div class="btn-box"><a (click)="global.goToDetail(profesional); global.scrollToTop()" style="cursor: pointer;">Agendar</a></div>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                        <!-- FIN BLOQUE DE LISTA -->
                    </div>
                    <div class="wrapper" *ngIf="view === 'grid'">
                        <!-- BLOQUE DE GRILLA -->
                        <div class="clinic-grid-content" style="cursor: pointer;">
                            <div class="row clearfix" >
                                <div (click)="global.goToDetail(profesional); global.scrollToTop()" style="cursor: pointer;" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 team-block" 
                                *ngFor="let profesional of paginatedProfesionales">
                                    <div class="team-block-three">
                                        <div class="inner-box">
                                          
                                            <figure class="image-box" style="width: 100%; height: 250px;">
                                                <img 
                                                  [src]="profesional.images[0] || 'assets/images/user.png'" 
                                                  [alt]="profesional.name || 'Professional'"
                                                >
                                                <a (click)="global.goToDetail(profesional); global.scrollToTop()"> <i class="far fa-shield"></i></a>
                                              </figure>
                                            <div class="lower-content">
                                                <ul class="name-box clearfix">
                                                    <li class="name"><h3><a (click)="global.goToDetail(profesional); global.scrollToTop()">{{profesional.name}}</a></h3></li>
                                                    <li><i class="icon-Trust-1"></i></li>
                                                    <li><i class="icon-Trust-2"></i></li>
                                                </ul>
                                                <span class="designation" style="color: #0f405f;">Especialista en: <span style="color: #808080;"> {{ profesional.typeEspeciality && profesional.typeEspeciality.length ? profesional.typeEspeciality[0].name : 'No especificado' }}</span></span>
                                                <span style="color: #0f405f;">Dirigido a: <span style="color: #808080;"> {{ getFormattedTargets(profesional.targets) }}</span></span>
                                                <p style="color:  #0f405f;">Terapia: <span style="color: #808080;"> {{ getFormattedTerapias(profesional.typeTherapy) }}</span></p>

                                                <div class="rating-box clearfix">
                                                    <ul class="rating clearfix">
                                                        <li><i class="icon-Star"></i></li>
                                                        <li><i class="icon-Star"></i></li>
                                                        <li><i class="icon-Star"></i></li>
                                                        <li><i class="icon-Star"></i></li>
                                                        <li><i class="icon-Star"></i></li>
                                                        <!-- <li><a >(32)</a></li> -->
                                                    </ul>
                                                </div>
                                                <div class="location-box">
                                                    <p><i class="fas fa-map-marker-alt"></i>{{profesional.consultationAddress}}</p>
                                                </div>
                                                <div class="lower-box clearfix">
                                                    <span class="text" style="color: #0f405f;"><i class="fas fa-heart" > Sesion:</i> <span style="color: #808080;"> {{profesional.priceSession}}</span></span>
                                                    <a (click)="global.goToDetail(profesional); global.scrollToTop()" style="cursor: pointer;">Agendar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-wrapper" *ngIf="totalPages > 1">
                        <ul class="pagination">
                          <li>
                            <a (click)="goToPage(currentPage - 1)" [class.disabled]="currentPage === 1"><i class="icon-Arrow-Left"></i></a>
                          </li>
                          <li *ngFor="let page of [].constructor(totalPages); let i = index">
                            <a (click)="goToPage(i + 1)" [class.current]="currentPage === (i + 1)">{{ i + 1 }}</a>
                          </li>
                          <li>
                            <a (click)="goToPage(currentPage + 1)" [class.disabled]="currentPage === totalPages"><i class="icon-Arrow-Right"></i></a>
                          </li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Botón flotante y panel de filtros -->
<div class="floating-filter-container">
    <!-- Botón flotante -->
    <button class="floating-filter-button" (click)="toggleFilters()">
      <i class="fas fa-filter"></i>
    </button>
    
    <!-- Panel de filtros (inicialmente oculto) -->
    <div class="filter-panel" [class.visible]="showFilters">
      <div class="filter-panel-header">
        <h3>Filtrar Especialistas</h3>
        <button class="close-panel" (click)="toggleFilters()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      
      <div class="filter-panel-content">
        <form method="post">
            <div class="form-group">              
               <!-- Select de Región -->
                <mat-form-field appearance="fill" style="width: 100%">
                  <mat-label>Región</mat-label>
                  <mat-select [(ngModel)]="selectedRegionId" (selectionChange)="onRegionChange($event)" name="region">
                    <mat-option [value]="''">Todas las regiones</mat-option>
                    <mat-option *ngFor="let region of regiones" [value]="region.id">
                      {{region.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <!-- Select de Tratamiento -->
                <mat-form-field appearance="fill" style="width: 100%">
                  <mat-label>Tratamiento</mat-label>
                  <mat-select [(ngModel)]="selectedTratamientos" (selectionChange)="onTratamientoChange($event)" name="tratamiento">
                    <mat-option [value]="''">Todos los tratamientos</mat-option>
                    <mat-option *ngFor="let tratamiento of tratamientos" [value]="tratamiento.id">
                      {{tratamiento.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <!-- Select de Especialidad -->
                <mat-form-field appearance="fill" style="width: 100%">
                  <mat-label>Especialidad</mat-label>
                  <mat-select [(ngModel)]="selectedEspecialidades" (selectionChange)="onEspecialidadChange($event)" name="especialidad">
                    <mat-option [value]="''">Todas las especialidades</mat-option>
                    <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.id">
                      {{especialidad.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Corriente</mat-label>
                <mat-select [(ngModel)]="selectedCorrienteId" (selectionChange)="onCorrienteChange($event)">
                  <mat-option [value]="''">Todas las corrientes</mat-option>
                  <mat-option *ngFor="let corriente of corrientes" [value]="corriente.id">
                    {{corriente.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" 
                class="search-input"
                name="name" 
              placeholder="Buscar por nombre..." 
              [(ngModel)]="searchName"
              (input)="onNameChange($event)">
          </div>
          
          <button type="button" class="apply-filters-button" (click)="applyFilters(this.professionals, this.selectedRegionId, this.selectedCorrienteId, this.searchName, this.selectedTratamientos, this.selectedEspecialidades, this.selectedTerapy, this.tratamientos, this.especialidades, this.corrientes, this.therapias); toggleFilters()">
            Aplicar Filtros
          </button>
        </form>
      </div>
    </div>
  </div>
  
</div>