<section class="doctors-dashboard bg-color-3">
    <div class="left-panel">
        <div class="profile-box">
            <div class="upper-box">
                <figure class="profile-image">
                    <img [src]="authService.getImage()" alt="Profile Image" />
                </figure>
                <div class="title-box centred">
                    <div class="inner">
                        <h3> {{ global.professionalInfo?.name }}</h3>
                        <p>Usuario: <span>{{ global.professionalInfo?.username }}</span></p>
                        <p>Numero de registro: <span>{{ global.professionalInfo?.registrationNumber }}</span></p>
                        <p>Genero: <span>{{ global.professionalInfo?.gender  }}</span></p>
                        <p>Idiomas: <span>{{ global.professionalInfo?.languages && hasSelectedItems(global.professionalInfo?.languages) ? getSelectedItems(global.professionalInfo?.languages).join(', ') : 'No especificado' }}</span></p>
                        <p>Bienvenido(a) a tu panel de control</p>
                    </div>
                </div>
            </div>
            <div class="profile-info">
                <ul class="list clearfix">                   
                    <li><a (click)="global.activeRoute = 'homeprofessional'" style="cursor: pointer;"><i class="fas fa-home"></i>Cuenta</a></li>
                    <li><a (click)="global.activeRoute = 'profile'" style="cursor: pointer;"><i class="fas fa-user"></i>Perfil</a></li>
                    <li><a (click)="global.activeRoute = 'change-password'" style="cursor: pointer;"><i class="fas fa-unlock-alt"></i>Cambiar contraseña</a></li>
                    <li><a (click)="global.activeRoute = 'reviews'" style="cursor: pointer;"><i class="fas fa-comment"></i>Comentarios y Calificaciones</a></li>
                    <li><a (click)="global.activeRoute = 'planning'" style="cursor: pointer;"><i class="fas fa-calendar"></i>Suscripción</a></li>
                    <li>
                        <div class="btn-box" *ngIf="authService.isLogin()">
                            <a (click)="confirmLogout()" style="cursor: pointer;">
                                <i class="fa fa-sign-out"></i>Cerrar Sesión
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<div class="right-panel">
    <div class="content-container">
        <div class="outer-container">
            <div class="add-listing change-password">
                <div class="single-box">
                    <div class="title-box">
                        <h3>Cambia tu contraseña</h3>
                    </div>
                    <div class="inner-box">
                        <button type="button" (click)="sendResetEmail()">Enviar email de cambio de contraseña</button> o 
                        <form (ngSubmit)="changePassword()" #form="ngForm">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <label>Contraseña anterior</label>
                                    <input type="password" name="password1" [(ngModel)]="currentPassword" required="" placeholder="Contraseña actual">
                                    <span class="input-group-text password-toggle">
                                        <button type="button" (click)="togglePasswordVisibility()" class="">
                                        <i class="fa fa-eye" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                                        </button>
                                    </span>

                                </div>
                               
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <div class="input-group">

                                    <label>Nueva contraseña</label>
                                    <input [type]="passwordVisible ? 'text' : 'password'" name="password2" [(ngModel)]="newPassword" required="" placeholder="Nueva contraseña">
                                    <span class="input-group-text password-toggle">
                                        <button type="button" (click)="togglePasswordVisibility()" class="">
                                        <i class="fa fa-eye" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                                        </button>
                                    </span>
                                    </div>
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <div class="input-group">
                                    <label>Confirmar contraseña</label>
                                    <input [type]="passwordVisible ? 'text' : 'password'" name="password3" [(ngModel)]="confirmPassword" required="" placeholder="Confirmar nueva contraseña">
                                    <span class="input-group-text password-toggle">
                                        <button type="button" (click)="togglePasswordVisibility()" class="">
                                        <i class="fa fa-eye" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-box">
                                <button class="theme-btn-one" type="submit" [disabled]="isLoading">
                                    Guardar Cambios
                                    <i class="icon-Arrow-Right"></i>
                                </button>
                                <button class="cancel-btn" type="button" (click)="form.resetForm()">Cancelar</button>
                            </div>
                        </form> 
                        <button type="button" (click)="sendResetEmail()" [disabled]="isLoading">Enviar email de cambio de contraseña</button>

                    <!-- Formulario para cambiar contraseña logueado -->
                    <!-- <form (ngSubmit)="changePassword()" #form="ngForm">
                    <input type="password" [(ngModel)]="currentPassword" name="currentPassword" placeholder="Contraseña actual" required>
                    <input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword" placeholder="Nueva contraseña" required>
                    <input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirmar nueva contraseña" required>
                    <button type="submit" [disabled]="isLoading">Cambiar contraseña</button>
                    </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>