<section class="doctors-dashboard bg-color-3">
    <div class="left-panel">
        <div class="profile-box">
            <div class="upper-box">
                <figure class="profile-image">
                    <img [src]="authService.getImage()" alt="Profile Image" />
                </figure>
                <div class="title-box centred">
                    <div class="inner">
                        <h3> {{ global.professionalInfo?.name }}</h3>
                        <p>Usuario: <span>{{ global.professionalInfo?.username }}</span></p>
                        <p>Numero de registro: <span>{{ global.professionalInfo?.registrationNumber }}</span></p>
                        <p>Genero: <span>{{ global.professionalInfo?.gender  }}</span></p>
                        <p>Idiomas: <span>{{ global.professionalInfo?.languages && hasSelectedItems(global.professionalInfo?.languages) ? getSelectedItems(global.professionalInfo?.languages).join(', ') : 'No especificado' }}</span></p>
                        <p>Bienvenido(a) a tu panel de control</p>
                    </div>
                </div>
            </div>
            <div class="profile-info">
                <ul class="list clearfix">
                   
                    <li><a href="dashboard" style="cursor: pointer;"><i
                                class="fas fa-home"></i>Cuenta</a></li>
                    <li><a (click)="global.activeRoute = 'profile'" style="cursor: pointer;"><i
                                class="fas fa-user"></i>Actualizar datos</a></li>
                    <li><a style="cursor: pointer;"><i class="fas fa-unlock-alt"></i>Cambiar contraseña</a></li>
                    <li><a (click)="global.activeRoute = 'reviews'" style="cursor: pointer;"><i class="fas fa-comment"></i>Comentarios y Calificaciones</a></li>
                    <li>
                        <div class="btn-box" *ngIf="authService.isLogin()">
                            <a (click)="confirmLogout()" style="cursor: pointer;">
                                <i class="fa fa-sign-out"></i>Cerrar Sesión
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <div class="content-container" id="dashboard" >
            <div class="outer-container">
                <div class="clinic-details-content doctor-details-content">
                    <div class="clinic-block-one">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img [src]="authService.getImage()" alt="">
                            </figure>
                            <div class="content-box" style="margin: 40px;">

                                <ul class="name-box clearfix">
                                    <li class="name">
                                        <h2> {{ global.professionalInfo?.name }} </h2>
                                    </li>
                                    <li><i class="icon-Trust-1"></i></li>
                                    <li><i class="icon-Trust-2"></i></li>
                                </ul>
                                <span class="designation" style="color: #0f405f;">Especialista en: <span style="color: #808080;">
                                    {{ global.professionalInfo?.typeEspeciality && global.professionalInfo?.typeEspeciality.length ? global.professionalInfo?.typeEspeciality[0].name : 'No especificado' }}</span></span>
                                <!-- <div class="rating-box clearfix">
                                    <ul class="rating clearfix">
                                        <li><i class="icon-Star"></i></li>
                                        <li><i class="icon-Star"></i></li>
                                        <li><i class="icon-Star"></i></li>
                                        <li><i class="icon-Star"></i></li>
                                        <li><i class="icon-Star"></i></li>
                                        <li><a >(32)</a></li>
                                    </ul>
                                </div> -->
                                <div class="text">
                                    <span style="color: #0f405f;">Dirigido a: <span style="color: #808080;"> {{ global.getFormattedTargets(global.professionalInfo?.targets) }}</span></span>
                                </div>
                                
                                <div class="lower-box clearfix">
                                    <ul class="info clearfix">
                                        <li><i class="fas fa-map-marker-alt"></i><a>Dirección de consultorio: {{ global.professionalInfo?.consultationAddress}}</a></li>
<!--                                         <li><i class="fas fa-map"></i><a>Region: {{global.professionalInfo.region.name }}</a></li>
 -->                                        <li><i class="fas fa-phone"></i><a href="tel:{{global.professionalInfo?.phone}}">Teléfono: {{global.professionalInfo?.phone }}</a></li>
                                        <li><i class="fas fa-id-card"></i><a>Rut: {{ global.professionalInfo?.rut }}</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-box">
                        <div class="tabs-content">
                            <div class="tab active-tab" id="tab-1">
                                <div class="inner-box">
                                    <div class="text">
                                        <h3>Sobre: {{ global.professionalInfo?.name }}</h3>
                                        <p>
                                            {{ global.professionalInfo?.biography }}
                                        </p>
                                        <p>
                                            {{ global.professionalInfo?.biography2 }}
                                        </p>
                                        <h3>Especialista en: </h3>
                                        <li>
                                            <span *ngIf="!global.professionalInfo?.typeEspeciality || !global.professionalInfo?.typeEspeciality.length">No especificado</span>
                                            <ul *ngIf="global.professionalInfo?.typeEspeciality && global.professionalInfo?.typeEspeciality.length">
                                              <li *ngFor="let especialidad of global.professionalInfo?.typeEspeciality">
                                                {{ especialidad.name }}
                                              </li>
                                            </ul>
                                          </li>
                                        <h3>Dificultades en (Tratamientos):</h3>
                                        <li>
                                            <span *ngIf="!global.professionalInfo?.typeTreatment || !global.professionalInfo?.typeTreatment.length">No especificado</span>
                                            <ul *ngIf="global.professionalInfo?.typeTreatment && global.professionalInfo?.typeTreatment.length">
                                              <li *ngFor="let tratamiento of global.professionalInfo?.typeTreatment">
                                                {{ tratamiento.name }}
                                              </li>
                                            </ul>
                                          </li>
                                        <h3>Corrientes</h3>
                                        <li>
                                            <span *ngIf="!global.professionalInfo?.corriente || !global.professionalInfo?.corriente.length">No especificado</span>
                                            <ul *ngIf="global.professionalInfo?.corriente && global.professionalInfo?.corriente.length">
                                              <li *ngFor="let corriente of global.professionalInfo?.corriente">
                                                {{ corriente.name }}
                                              </li>
                                            </ul>
                                          </li>
                                        <h3>Tipo de atención</h3>
                                        <li>
                                            <span *ngIf="!global.professionalInfo?.typeAttention || !hasSelectedItems(global.professionalInfo?.typeAttention)">No especificado</span>
                                            <ul *ngIf="global.professionalInfo?.typeAttention && hasSelectedItems(global.professionalInfo?.typeAttention)">
                                              <li *ngFor="let type of getSelectedItems(global.professionalInfo?.typeAttention)">{{ type }}</li>
                                            </ul>
                                          </li>
                                        <h3>Horario de atención: <span>{{global.professionalInfo?.openingHours || 'No especificado'}}</span></h3>
                                        <h3>Días de atención:</h3>
                                        <span *ngIf="!global.professionalInfo?.days || !hasSelectedItems(global.professionalInfo?.days)">No especificado</span>
                                        <ul *ngIf="global.professionalInfo?.days && hasSelectedItems(global.professionalInfo?.days)">
                                          <li *ngFor="let day of getSelectedItems(global.professionalInfo?.days)">{{ day }}</li>
                                        </ul>
                                        <h3>Costo de atención</h3>
                                        <ul class="list clearfix">
                                            <li>CLP {{global.professionalInfo?.priceSession || 'No especificado'}}</li>
                                        </ul>
                                    </div>

                                    <div class="location-box">
                                        <h3>Formación Académica</h3>
                                        <span *ngIf="!global.professionalInfo?.academicTitles || global.professionalInfo?.academicTitles.length === 0">
                                          No especificado
                                        </span>
                                        <ul class="list clearfix" *ngIf="global.professionalInfo?.academicTitles && global.professionalInfo?.academicTitles.length > 0">
                                          <li *ngFor="let title of global.professionalInfo?.academicTitles">
                                            {{ title.institution }} - {{ title.specialization }} ({{ title.year }})
                                          </li>
                                        </ul>
                                        <h3>Certificados</h3>
<!--                                         <img *ngIf="global.professionalInfo?.certificates.length > 0" [src]="global.professionalInfo?.certificates[0].image" alt="Certificados" />
 -->                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
   

</section>