<div class="right-panel" id="especialidades">
    <div class="card content-container">
        <div class="container">
            <div class="clinic-details-content doctor-details-content">
                
                <div class="location-box">
                    <div class="location-box" style="display: flex; justify-content: space-between; align-items: center;">
                        <h4>Especialidades</h4>
                        <div class="btn-box" style="display: inline;">
                            <a class="btn btn-sm btn-primary hover-invert" style="cursor: pointer; border-radius: 50px; color: white;" (click)="openSpecialtyPopup()"> <i class="icon-image"></i></a>
                            <!-- <a class="btn btn-sm btn-primary hover-invert" style="cursor: pointerbtn btn-sm btn-primary hover-invert; border-radius: 50px; color: white;">Agregar Especialidad <i class="icon-image"></i></a> -->
                        </div>
                    </div>
                    <span *ngFor="let especialidad of realtimeEspecialidades.especialidades$ | async ">
                        <span class="badge" style="color:#0f405f; margin: 5px;">{{especialidad.name}}

                        <i class="fa fa-trash" style="color: red; cursor: pointer;" (click)="deleteSpecialty(especialidad.id)"></i>

                        </span>
                    </span>
                </div>
                <div class="location-box">
                    <div class="location-box" style="display: flex; justify-content: space-between; align-items: center;">
                        <h4>Tratamientos</h4>
                        <div class="btn-box" style="display: inline;">
                            <a class="btn btn-sm btn-primary hover-invert" style="cursor: pointer; border-radius: 50px; color: white;" (click)="openTreatmentPopup()"> <i class="icon-image"></i></a>

                            <!-- <a class="btn btn-sm btn-primary hover-invert" style="cursor: pointer; border-radius: 50px; color: white;">Agregar Tratamiento <i class="icon-image"></i></a> -->
                        </div>
                    </div>
                    <span *ngFor="let tratamiento of realtimeTratamientos.tratamientos$ | async ">  
                        <span class="badge" style="color:#0f405f; margin: 5px;">{{tratamiento.name}}
                            <i class="fa fa-trash" style="color: red; cursor: pointer;" (click)="deleteTreatment(tratamiento.id)"></i>
                        </span>
                    </span>
                </div>
                <div class="location-box">
                    <div class="location-box" style="display: flex; justify-content: space-between; align-items: center;">
                        <h4>Corriente</h4>
                        <div class="btn-box" style="display: inline;">
                            <a class="btn btn-sm btn-primary hover-invert" style="cursor: pointer; border-radius: 50px; color: white;" (click)="openCorrientesPopup()"> <i class="icon-image"></i></a>

                            <!-- <a class="btn btn-sm btn-primary hover-invert" style="cursor: pointer; border-radius: 50px; color: white;">Agregar Tratamiento <i class="icon-image"></i></a> -->
                        </div>
                    </div>
                    <span *ngFor="let corriente of realtimeCorrientes.corrientes$ | async ">  
                        <span class="badge" style="color:#0f405f; margin: 5px;">{{corriente.name}}
                            <i class="fa fa-trash" style="color: red; cursor: pointer;" (click)="deleteCorriente(corriente.id)"></i>
                        </span>
                    </span>
                </div>
                <div class="location-box">
                    <div class="location-box" style="display: flex; justify-content: space-between; align-items: center;">
                        <h3>Terapias</h3>
                        <div class="btn-box" style="display: inline;">
                            <a class="btn btn-sm btn-primary hover-invert" style="cursor: pointer; border-radius: 50px; color: white;" (click)="openTherapyPopup()"> <i class="icon-image"></i></a>

                            <!-- <a class="btn btn-sm btn-primary hover-invert" style="cursor: pointer; border-radius: 50px; color: white;">Agregar Terapia <i class="icon-image"></i></a> -->
                        </div>
                    </div>
                    <span *ngFor="let terapia of realtimeTerapia.terapia$ | async ">  
                        <span class="badge" style="color:#0f405f; margin: 5px;">{{terapia.name}}
                            <i class="fa fa-trash" style="color: red; cursor: pointer;" (click)="deleteTherapy(terapia.id)"></i>
                        </span>
                    </span>
                </div>
                <div class="location-box">
                    <div class="location-box" style="display: flex; justify-content: space-between; align-items: center;">
                        <h4>Planes de suscripción</h4>
                        <div class="btn-box" style="display: inline;">
                            <a class="btn btn-sm btn-primary hover-invert" style="cursor: pointer; border-radius: 50px; color: white;" (click)="openPlanPopup()"> <i class="icon-image"></i></a>

                            <!-- <a class="btn btn-sm btn-primary hover-invert" style="cursor: pointer; border-radius: 50px; color: white;">Agregar Terapia <i class="icon-image"></i></a> -->
                        </div>
                    </div>
                    <ul *ngFor="let plan of realtimePlanes.planes$ | async ">  
                        <li class="badge" style="color:#0f405f; margin: 5px;">{{plan.name}}, {{plan.price}}, {{plan.description}}
                            <i class="fa fa-trash" style="color: red; margin-right: 5px; cursor: pointer;" (click)="deletePlan(plan.id)"></i>
                            <i class="fa fa-edit" style="color: #0f405f; margin-right: 5px; cursor: pointer;" (click)="editPlan(plan)"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="right-panel" id="especialidades">
    <div class="card content-container">
        <div class="container">
            <section class="pricing-section bg-color-3 sec-pad">
                <div class="auto-container">
                    <div class="sec-title centred">
                        <p>Pricing Table</p>
                        <h2>Pick The Plan That Works for You</h2>
                    </div>
        <div class="tabs-box">
            <div class="tab-btn-box centred">
                <ul class="tab-btns tab-buttons clearfix">
                    <li class="tab-btn active-btn" data-tab="#tab-1">Monthly</li>
                    <li class="tab-btn" data-tab="#tab-2">Yearly</li>
                </ul>
            </div>
            <div class="tabs-content">
                <div class="tab active-tab" id="tab-1">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one">
                                <div class="pricing-table">
                                    <div class="pattern">
                                        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-75.png);"></div>
                                        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-76.png);"></div>
                                    </div>
                                    <div class="table-header">
                                        <h2>Basic Pack</h2>
                                        <h3>$40 USD</h3>
                                    </div>
                                    <div class="table-content">
                                        <ul class="list clearfix">
                                            <li>1 Bathroom Cleaning</li>
                                            <li>Up to 3 Bedrooms Cleaning</li>
                                            <li class="light">1 Livingroom Cleaning</li>
                                            <li class="light">Kitchen Cleaning</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <div class="link"><a href="pricing.html"><i class="icon-Arrow-Right"></i></a></div>
                                        <div class="btn-box"><a href="pricing.html" class="theme-btn-one">Buy Package<i class="icon-Arrow-Right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one">
                                <div class="pricing-table active">
                                    <div class="pattern">
                                        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-75.png);"></div>
                                        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-76.png);"></div>
                                        <div class="pattern-3" style="background-image: url(assets/images/shape/shape-77.png);"></div>
                                    </div>
                                    <div class="table-header">
                                        <h2>Popular Pack</h2>
                                        <h3>$50 USD</h3>
                                    </div>
                                    <div class="table-content">
                                        <ul class="list clearfix">
                                            <li>1 Bathroom Cleaning</li>
                                            <li>Up to 3 Bedrooms Cleaning</li>
                                            <li>1 Livingroom Cleaning</li>
                                            <li class="light">Kitchen Cleaning</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <div class="link"><a href="pricing.html"><i class="icon-Arrow-Right"></i></a></div>
                                        <div class="btn-box"><a href="pricing.html" class="theme-btn-one">Buy Package<i class="icon-Arrow-Right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one">
                                <div class="pricing-table">
                                    <div class="pattern">
                                        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-75.png);"></div>
                                        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-76.png);"></div>
                                    </div>
                                    <div class="table-header">
                                        <h2>Premium Pack</h2>
                                        <h3>$60 USD</h3>
                                    </div>
                                    <div class="table-content">
                                        <ul class="list clearfix">
                                            <li>1 Bathroom Cleaning</li>
                                            <li>Up to 3 Bedrooms Cleaning</li>
                                            <li>1 Livingroom Cleaning</li>
                                            <li>Kitchen Cleaning</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <div class="link"><a href="pricing.html"><i class="icon-Arrow-Right"></i></a></div>
                                        <div class="btn-box"><a href="pricing.html" class="theme-btn-one">Buy Package<i class="icon-Arrow-Right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab" id="tab-2">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one">
                                <div class="pricing-table">
                                    <div class="pattern">
                                        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-75.png);"></div>
                                        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-76.png);"></div>
                                    </div>
                                    <div class="table-header">
                                        <h2>Basic Pack</h2>
                                        <h3>$50 USD</h3>
                                    </div>
                                    <div class="table-content">
                                        <ul class="list clearfix">
                                            <li>1 Bathroom Cleaning</li>
                                            <li>Up to 3 Bedrooms Cleaning</li>
                                            <li class="light">1 Livingroom Cleaning</li>
                                            <li class="light">Kitchen Cleaning</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <div class="link"><a href="pricing.html"><i class="icon-Arrow-Right"></i></a></div>
                                        <div class="btn-box"><a href="pricing.html" class="theme-btn-one">Buy Package<i class="icon-Arrow-Right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one">
                                <div class="pricing-table active">
                                    <div class="pattern">
                                        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-75.png);"></div>
                                        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-76.png);"></div>
                                        <div class="pattern-3" style="background-image: url(assets/images/shape/shape-77.png);"></div>
                                    </div>
                                    <div class="table-header">
                                        <h2>Popular Pack</h2>
                                        <h3>$60 USD</h3>
                                    </div>
                                    <div class="table-content">
                                        <ul class="list clearfix">
                                            <li>1 Bathroom Cleaning</li>
                                            <li>Up to 3 Bedrooms Cleaning</li>
                                            <li>1 Livingroom Cleaning</li>
                                            <li class="light">Kitchen Cleaning</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <div class="link"><a href="pricing.html"><i class="icon-Arrow-Right"></i></a></div>
                                        <div class="btn-box"><a href="pricing.html" class="theme-btn-one">Buy Package<i class="icon-Arrow-Right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one">
                                <div class="pricing-table">
                                    <div class="pattern">
                                        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-75.png);"></div>
                                        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-76.png);"></div>
                                    </div>
                                    <div class="table-header">
                                        <h2>Premium Pack</h2>
                                        <h3>$70 USD</h3>
                                    </div>
                                    <div class="table-content">
                                        <ul class="list clearfix">
                                            <li>1 Bathroom Cleaning</li>
                                            <li>Up to 3 Bedrooms Cleaning</li>
                                            <li>1 Livingroom Cleaning</li>
                                            <li>Kitchen Cleaning</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <div class="link"><a href="pricing.html"><i class="icon-Arrow-Right"></i></a></div>
                                        <div class="btn-box"><a href="pricing.html" class="theme-btn-one">Buy Package<i class="icon-Arrow-Right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            </section>
        </div>
    </div>
</div> -->


